@if (currentChat === null){
  <h3>Selecione um chat</h3>
} @else {
    @if (messages.length) {
    <div class="chat-container">
      <header class="chat-header">
        <h3>{{ messages[0]?.author }}</h3>
      </header>

      <section class="messages">
        @for (message of messages; track message) {
          <!-- TO DO: CHANGE THIS TO VERIFY THE NAME IN THE CONTEXT -->
          <div
            class="message"
            [class.me]="message.author === 'me'"  
            [class.received]="message.author !== 'me'"
          >
            <div class="author">
              <!-- TO DO: CHANGE THIS TO VERIFY THE NAME IN THE CONTEXT -->
              {{ message.author === 'me' ? 'You' : message.author }}
            </div>
            <div class="text">{{ message.text }}</div>
          </div>
        }
      </section>

      <app-text-box (sendMessageChild)="sendMessage($event)"></app-text-box>
    </div>
  } @else {
    <div class="chat-container">
      <p>Sem mensagens</p>
    </div>
  }
}
