<div class="login-container">
    <h1>Bem-vindo ao Secure Chat</h1>

    <div class="login-box">
        @if (!isButtonDisabled) {
            <input
                [(ngModel)]="username"
                type="text"
                placeholder="Digite seu nome de usuário"
            />
            <input
                [(ngModel)]="password"
                type="text"
                placeholder="Digite sua senha"
            />
            <div class="login-buttons">
                <button (click)="create_account()">Criar Conta </button>
                <button (click)="login()">Logar </button>
            </div>
        } @else {
            <div class="loading">
                Carregando<span class="dots"></span>
            </div>
        }

    </div>
</div>
